h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #303B59;
}
.flex div{
    height: 56px;
    border-radius: 12px;
}
.main{
    margin: auto;
    width: 340px;
}

.flex{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

button{
    margin: 10px auto auto auto ;
    justify-content: center;
    align-items: center;
    display: flex;
    width:340px;
    height: 56px;
    background-color: #303B59;
    color:#FFF;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    border-radius: 20px;
    border-style: none;
}

.box1{
   background:linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), linear-gradient(0deg, #FF5555, #FF5555);
   ;
   display: flex;
   justify-content: space-between;
}

.box2{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    linear-gradient(0deg, #FFB21E, #FFB21E);
    display: flex;
    justify-content: space-between;
}

.box3{
   background:linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    linear-gradient(0deg, #00BB8F, #00BB8F);
 ;
 display: flex;
 justify-content: space-between;
}

.box4{
   background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    linear-gradient(0deg, #1125D6, #1125D6);
    display: flex;
    justify-content: space-between;
    
}

#reaction{
    color:#FF5555;
}

#memory{
    color:#FFB21E;
    
}

#verbal{
    color: #00BB8F;
    
}

#visual{
    color: #1125D6;
}

img{
    margin:17px 0px 0px 15px;
    
}

#reaction, #verbal, #visual, #memory{
    position: relative;
    bottom:4px;
    left: 6px;
   
}

.numbers{
    color: #303B59;
    font-size: 16px;
    line-height: 20px;
}

span{
    color: #303B59;
    font-size: 16px;
    line-height: 20px;
    opacity: 60%;
}

.numbers-div{
    width:64px;
}

@media screen and (min-width:568px){
    .main{
        background-color: #FFF;
        width:390px;
        height:512px;
        margin: 0;
        border-radius: 32px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        
        
    } 
    .flex div, button{
        width:288px;
        height:56px;
     
    }

    button{
        margin: 8px auto 10px auto;
    }

    button:hover{
        cursor: pointer;
        background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);

    }

    .numbers-div{
        width:60px;
        transform: translateX(30px);
    }

    h4{
        font-size: 24px;
        font-weight: 700;
        width:290px;
        padding-bottom: 10px;
    }

    .flex{
        margin-bottom: 15px;
        row-gap: 22px;
    }

    .numbers{
        width:80px;
        transform: translateX(30px);
        
    }


}