@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700&display=swap');

body {
     background: #FFF;
     font-family: 'Hanken Grotesk';
     margin:0;
     padding: 0;
     height: 100vh;
    
  
}

@media screen and (min-width:568px){
     .container{
          display: flex;
          background-color: #FFF;
          border-radius: 32px;
     }

     body{
          display: flex;
          margin: auto;
          justify-content: center;
          align-items: center;
     }
}

